.fileItem {
  width: 100%;
}

.pInline {
  white-space: nowrap;
}

.inline {
  display: inline-block;
}

.itemData {
  @extend .inline;
  text-align: end;
  width: 12.5em;
}

.itemSize {
  @extend .inline;
  text-align: end;
  width: 5em;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

.directories {
  padding: 4px 16px;
}


@media screen and (max-width: 640px) {
  .itemData {
    display: none;
  }

  .itemSize {
    display: none;
  }
}


.itemName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
